      <div class="jumbotron">
        <h1>Log In</h1>
        <p class="lead">Sign in with your user name and password</p>
      </div>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :UserName %><br />
    <%= text_field_tag :UserName, params[:UserName] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>
