/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background:url('img/bg.jpg') #F76D08 no-repeat left top;
  background-size: 100%;
  color: #fff;
}

/* Form elements */

input,
select,
textarea,
button {
  color: #333;
}

/* Link colors */
a:link,
a:visited {
  color: #F6FF00;
  text-decoration: none;
  text-shadow: 1px 1px 2px #222;
}

a:hover,
a:active {
  color: #F6FF00;
  text-decoration: underline;
  text-shadow: 1px 1px 2px #222;
}

/* Top navigation */
.nav-pills .active a {
  color: #fff;
  background-color: #000000;
  background-image: -webkit-linear-gradient(top, #585858, #000000);
  background-image: linear-gradient(to bottom, #585858, #000000);
}

.nav-pills a:link,
.nav-pills a:visited {
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}

.nav-pills a:hover,
.nav-pills a:active {
  color: #D35800;
  text-decoration: underline;
  text-shadow: none;
}

/* Buttons */
.btn-default {
  background-color: #000000;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #585858, #000000);
  background-image: linear-gradient(to bottom, #585858, #000000);
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.btn-default:hover,
.btn-default:focus {
  background-color: #585858;
  color: #ffffff;
  background-image: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: #fff;
  text-shadow: 1px 1px 2px #222;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #ccc;
  font-size: 0.9em;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #D35800;
  text-shadow: 1px 1px 2px #222;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
