      <div class="jumbotron">
        <h1>Support</h1>
        <p class="lead">Have you tried turning it off and on again?</p>
      </div>
      <% if @parkingspots.first == nil %>
        <p>
        No Parking Spots found
        </p>
      <% else %>
      <table class="table">
      <tr>
        <th>Parking ID</th>
        <% if not current_user %>
          <th>User ID</th>
        <% end %>
        <th>Coordinates</th>
        <th>State</th>
        <th>State by</th>
      </tr>
      <% @parkingspots.find_each { |ps| %>
        <% if  current_user and current_user.UserID != ps.UserID %>
          <% next %>
        <% end %>
        <tr>
          <td><%= link_to ps.ParkID, parkingspot_path(ps.ParkID) %></td>
          <% if not current_user %>
            <td><%= ps.UserID %></td>
          <% end %>
          <td><%= ps.xCoor %>, <%= ps.yCoor %></td>
          <% state, stateby = getState(ps) %>
          <th><%= state %></td>
          <th><%= if stateby != 0
                    stateby
                  end %> 
        </tr>
      <% } %>
      </table>
      <% end %>
      <%= button_to "Add Parking Spot", new_parkingspot_path, :class => "btn btn-default", :method => :get %>
      <p></p> 
