      <div class="jumbotron">
        <h1>New Parking Spot</h1>
        <p class="lead">Add your Parking Spot to the Database</p>
      </div>


<%= form_for :parkingspot, url: parkingspots_path do |f| %>
  <% if not current_user %>
    <p>
      <%= f.label 'User ID' %><br>
      <%= f.text_field :UserID %>
    </p>
  <% end %>
  <p>
    <%= f.label 'Address' %><br>
    <%= f.text_field :ParkID %>
  </p>
  <%= render_gmap_coordinate_picker %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

