      <div class="jumbotron">
        <h1>View Parking Spot</h1>
        <p class="lead">Display information on "<%= @parkingspot.ParkID %>"</p>
      </div>


<style type="text/css">
table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
td {
  border-width: 0; 
  border-style: none;
  border-color: #0000ff; 
  border-collapse: collapse; 
  padding: 0; 
  margin: 0; 
  width: 10px; 
  height: 10px; 
}
td.black { background-color: #000; }
td.white { background-color: #fff; }
</style>
<p>
<div class="map" align="center">
Map Location
<%= render_gmap_coordinate_picker :static => 'true', :zoom_level => 13, :default_coordinates => [@parkingspot.xCoor, @parkingspot.yCoor]  %>
</div>
</p>
<p>
<div class="qr" align="center">
    QR-Code
    <table>
    <% @qr.modules.each_index do |x| %>
      <tr>  
      <% @qr.modules.each_index do |y| %>
       <% if @qr.dark?(x,y) %>
        <td class="black"/>
       <% else %>
        <td class="white"/>
       <% end %>
      <% end %>
      </tr>
    <% end %>
    </table>
</div>
</p>
<div align="center">
<p>
  <strong>Currently this Parking Spot is 
                    <%= @state %> <%= if @state_by != 0
                      ", by " + @state_by.to_s
                    end %></strong>
</p>
</div>
<div class="btn-group">
<% if @state == 'Not Offered' %>
       <%= link_to "Delete", @parkingspot, method: :delete, data: { confirm: 'Do you really want to delete this Parking Spot?' }, :class => "btn btn-default" %>
       <%= link_to "Offer", @parkingspot, method: :delete, data: { confirm: 'Do you really want to delete this Parking Spot?' }, :class => "btn btn-default" %>
   <% elsif @state[0..6] == "Offered" %>
       <%= link_to "Remove Offering", @parkingspot, method: :delete, data: { confirm: 'Do you really want to delete this Parking Spot?' }, :class => "btn btn-default" %>
       <%= link_to "Reserve", @parkingspot, method: :delete, data: { confirm: 'Do you really want to delete this Parking Spot?' }, :class => "btn btn-default" %>
       <%= link_to "Park", @parkingspot, method: :delete, data: { confirm: 'Do you really want to delete this Parking Spot?' }, :class => "btn btn-default" %>
   <% elsif @state[0..7] == "Reserved" %>
       <%= link_to "Remove Reservation", @parkingspot, method: :delete, data: { confirm: 'Do you really want to delete this Parking Spot?' }, :class => "btn btn-default" %>
       <%= link_to "Park", @parkingspot, method: :delete, data: { confirm: 'Do you really want to delete this Parking Spot?' }, :class => "btn btn-default" %>
   <% elsif @state[0..7] == "Occupied" %>
       <%= link_to "Done Parking", @parkingspot, method: :delete, data: { confirm: 'Do you really want to delete this Parking Spot?' }, :class => "btn btn-default" %>
   <% end %>
</div>

