<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>ParkSpot</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class= "<%= 'active' if current_page?(root_path) %>"> <%= link_to "Home", root_path %></li>
          <li class = "<%= 'active' if current_page?(parkingspots_path) %>"><%= link_to "My Parking Places", parkingspots_path %></li>
          <!-- <li class = "<%= 'active' if current_page?(root_path) %>"><a href="#">Contact</a></li> -->
        </ul>
        <h3 class="text-muted"><a href="./"><img src="/img/logo.png" width="48" height="48" alt=""></a>ParkSpot</h3>
        <div class="login" align="right">
        <% if  current_user %>
          Logged in as <%= current_user.UserName %>. <%= link_to "Log Out", session_path("current"), method: "delete" %>
        <% else %>
          <%= link_to "Log In", new_session_path %>
        <% end %>
        </div>
      </div> 
      


    <%= yield %>

    <div class="footer">
        <p>&copy; Patchwork 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
